<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
        <nav>
            <a href="/">
                View Blog Home
            </a>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
            <hr/>
        {% endwith %}
        {% block content %}
        {% endblock %}
        <h4><a href='/blog'>See All My Posts</a></h4>
        <h4><a href='/everyone'>See Everyone's Posts</a></h4>
        <h4><a href='/authorlist'>See list of Posters</a></h4>
        <h4><a href="/post_form">Make A New Post</a></h4>
        <h4><a href="/logout">Log Out</a></h4>
        


    </body>
</html>